.titleBar{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cecece;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon{
    margin-left: 10px;
}

.title{
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    margin-right: 10px;
    background-color: #ddd;
}